body,html {
  background-color: #f4e6d4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

svg.test {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

a img.icon {
  display: inline-block;
  height: 1em;
  margin: 0 0 -0.1em 0.3em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Utiliser 100% de la hauteur de la vue */
  margin: 40px; /* Ajouter une marge extérieure de 20 pixels */
  flex-shrink: 3;
}


.rectangle-blanc {
  width: calc(100% - 40px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    z-index: 1;
    flex-grow: 1;
}

.profil-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  z-index: 3;
  

}

.Profile-Picture {
 
  border-radius: 50%;
  max-width: 100%;
  z-index: 3;
  position: relative;
  width: 200PX;

}

.Profile-Name {
 
  font-size: 25px;
  font-weight: 100;
  position: relative;
  text-transform: lowercase;
  font-family: 'DM Serif Display' , serif;
  z-index: 3;
  text-transform: none;
}

.Name {
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  position: relative;
  text-transform: lowercase;
  font-family: 'Alga' , serif;
  z-index: 3;
  text-transform: none;
}

.About-us {
  text-align: justify;
  margin: auto;
  max-width: 600px;
  font-size: 12px;
  font-weight: 100;
  position: relative;
  text-transform: lowercase;
  font-family: 'Alga' , serif;
  z-index: 3;
 text-transform: none;
 margin-top: 20px;
}

.button-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 110%;
  gap: 20px;
  margin-bottom: 20px;
  flex-shrink: 1;



}

.unique-button {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 60px;
  padding: 15px 10px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  background-color: #8D2B50;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  z-index: 3;
  max-width: 100%;

}

.unique-button:hover {
  transition: 0.3s all ease-in-out;
  box-shadow: 5px 10px 30px #8D2B50;
}

.unique-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.unique-button:hover span {
  transform: translateX(10em);
}

.unique-button:hover .svg-wrap {
  animation: fly-1 0.6s ease-in-out infinite alternate;
  z-index: 1;
}

.unique-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.unique-button:hover svg {
  transform: translateX(2.5em) rotate(45deg) scale(1.2);
}

.unique-button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.unique-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 80%;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #FADADF;
  transition: all 0.2s ease-in-out;
}

.unique-button:hover::before {
  width: 100%;
}

.unique-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 0;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: #FADADF;
  transition: all 0.3s ease-in-out;
}

.unique-button:hover::after {
  height: 100%;
}
