html {
    /*BACKGROUND:*/
    background-color: #f4e6d4;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@font-face {
  font-family: 'mapoliceperso';
  src: url('AL-NEVRADA.ttf');
}


svg.test {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: auto;
  }

body {
    margin: 0px auto; /*auto - center the linktree*/;
}

img {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%; /*round image*/
    top : 30px;
    z-index: 3;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-color: rgba(173, 208, 143, 0.333);
    box-shadow: -4px -2px 10px 0px #ffffff, 4px 2px 10px 0px rgba(103, 41, 79, 0.441);
}

.police{
  font-family: "mapoliceperso";
  font-size: 25px;
}

#userName {
  position: relative;
  text-transform: none;
  color: #3a4b5f;
}

#description {
  font-size: 20px;
  font-weight: 100;
  text-transform: none;
  font-family: 'Alga', serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  min-height: 600px;
  
}

.card-infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 40px;
}

h1, h2 {
  margin: 0;
}

#quote {
  font-size: 13px;
  font-weight: 100;
  position: relative;
  text-transform: none;
  font-family: 'Alga', serif;
}

.card {
  width : calc(100% - 40px);
  height: calc(100% - 40px);
  background : white;
  z-index : 3;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  align-self: center;
  border-radius: 15px;  
  
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: 60px;
}

.button {
    margin: auto;
    width: 320px;
    max-width: 100%;
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(141,43,80);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(141,43,80);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    z-index: 3;
    justify-content: center;  
    font-family: "Ubuntu", sans-serif;
  }
  
  .button span {
    margin: 0 10px;
  }
  
  .button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -1,5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
  }
  
  .button:hover {
    color: #fff;
    border: 1px solid rgb(141,43,80);
  }
  
  .button:hover::before {
    box-shadow: inset 0 0 0 10em rgb(141,43,80);
  }

  .animated-border-box, .animated-border-box-glow{
    margin: auto;
    position: relative;
    overflow: hidden; 
    z-index: 0;
    /* Border Radius */
    border-radius: 10px;
  }
  
  .animated-border-box-glow {
    overflow: hidden;
    filter: blur(20px);
  }
  
  .animated-border-box:before, .animated-border-box-glow:before {
    content: '';
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
    width: 99999px;
    height: 99999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    /*border color, change middle color*/
    background-image: conic-gradient(rgba(255, 255, 255, 0), #8AA74B, rgba(255, 255, 255, 0) 25%);
    /* change speed here */
    animation: rotate 4s linear infinite;
  }
  
  .animated-border-box:after {
      
	content: '';
	position: absolute;
	z-index: -1;
  /* border width */
	left: 5px;
	top: 5px;
  /* double the px from the border width left */
	width: calc(100% - 10px);
	height: calc(100% - 10px);
  /*bg color*/
	background: #292a2e;
  /*box border radius*/
	border-radius: 7px;
	
  }
  
  @keyframes rotate {
    100% {
      transform: translate(-50%, -50%) rotate(1turn);
    }
  }
  
  #code-editor {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(4px);
  display: none;
  }
  
  #code-editor:target {
  display: block;
  }
  
  .code {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 25px 25px 25px;
  }

  
  #header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction : row;
    margin: 20px;
    height: 5px;
  }
  
  .title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
  }
  
  .icon {
    width: 20px;
    transition: .2s ease;
  }
  
  .icon:hover {
    cursor: pointer;
    border-radius: 50px;
    background-color: #6e7281;
  }
  
  .editor-content {	
  max-width: 80%;
  width: 400px;
  transform: translate(-50%, -50%);
  background-color: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  }

  
  .property {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
  }
  
  .property:hover {
    cursor: text;
  }
  
  .editor-content .color-0 {
    color: rgb(86 156 214);
  }
  
  .editor-content .color-1 {
    color: rgb(182 206 168);
  }
  
  .editor-content .color-2 {
    color: rgb(156 220 254);
  }
  
  .editor-content .color-3 {
    color: rgb(207 146 120);
  }
  
  .color-preview-1 {
    background-color: #1d1e22;
  }
  
  .color-preview-1 {
    background-color: rgba(0, 0, 0, 0.5);
  }

  
.cta-container {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.cta {
  position: relative;
  width: 230px;
  max-width: 100%;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  display: block;
  border-radius: 50px;
  background: #C6D3A1;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}



.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #C6D3A1;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}


a {
  /*LINKS TEXT*/
  color: var(--textColor);
  text-decoration: none;
}

/* Media query pour les écrans de 500 pixels ou moins */
@media screen and (max-width: 395px) {
  .button {
      margin: 0 20px; /* Ajoute une marge de 10 pixels aux côtés du bouton */
      width: calc(100% - 40px); /* Ajuste la largeur du bouton pour maintenir la centrage */
  }
@media screen and (max-width:305px) {
  .cta {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
  }
}

@keyframes slice {
  0% {
 transform: rotate(0deg);
}
100% {
 transform: rotate(360deg);
}
}
.out-top {
animation: slice 20s linear infinite;
transform-origin: 13px 25px;
}
.in-top {
animation: slice 10s linear infinite;
transform-origin: 13px 25px;
}
.out-bottom {
animation: slice 25s linear infinite;
transform-origin: 84px 93px;
}
.in-bottom {
animation: slice 15s linear infinite;
transform-origin: 84px 93px;
}